.logo-name {
    font-size: 16.5vw;
    white-space: nowrap;
    overflow: hidden;
    /* line-height: 27rem; */
}
/* .bg-image {
    background-image: url('../assets/noise.png');
} */
.webdev {
    animation-name: colorChange2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.l1 {
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
.l2 {
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 3s;

}
.l3 {
    animation-name: colorChange;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 4s;

}
.l4 {
    animation-name: colorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 5s;

}

@keyframes colorChange {
    0%   {color: #EAE4F0;}
    50%   {color: #FF8B71;}
    100% {color: #EAE4F0;}
}

  @keyframes colorChange2 {
    0%   {color: #EAE4F0;}
    50%   {color: #ffbd71;}
    100% {color: #EAE4F0;}
}

.path1:hover {
    fill:#EAE4F0;
}